[submodule "lang"]
	path = lang
	url = https://github.com/pixl-os/pegasus-frontend-translations.git
	branch = recalbox-integration
[submodule "thirdparty/SortFilterProxyModel"]
	path = thirdparty/SortFilterProxyModel
	url = https://github.com/mmatyas/SortFilterProxyModel.git